<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options All -Indexes
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(app/|vendor/|storage/) - [F,L,NC]
    RewriteRule ^ index.php [L]
</IfModule>
