<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rule 1G" stopProcessing="true">
                    <match url="^" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="rule 2G" stopProcessing="true">
                    <match url="^(app/|bootstrap/|storage/)" ignoreCase="true" />
                    <action type="Rewrite" url="/-" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
