<rule name="rule 1M">
	<match url=".*"  />
	<action type="Rewrite" url="/-"  />
</rule>
<rule name="rule 2M" stopProcessing="true">
	<match url="^"  />
	<action type="Rewrite" url="/%1"  />
</rule>
<rule name="rule 3M" stopProcessing="true">
	<match url="^"  />
	<action type="Rewrite" url="/index.php"  />
</rule>
